<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ReturnSafe</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Zero would like to access your music library.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Zero would like to access your calendar.</string>
	<key>NSContactsUsageDescription</key>
	<string>Zero would like to access your contacts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Zero would like to use your current location. Permitting ‘Always-on’ access to your device location is essential to provide critical location-based COVID-19 notifications.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Zero would like to use your current location. Permitting ‘Always-on’ access to your device location is essential to provide critical location-based COVID-19 notifications.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Zero would like to use your current location. Permitting ‘Always-on’ access to your device location is essential to provide critical location-based COVID-19 notifications.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Zero would like to access your microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Zero would like to use your phone's motion sensors to optimize location tracking. Permitting access to your device motion sensors is essential to provide accurate COVID-19 notifications.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zero would like to access your photo library.</string>
    <key>NSCameraUsageDescription</key>
    <string>Zero would like to access your camera.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Zero would like to access your speech recognition.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
